{% extends "base.html" %}
{% load static %}
{% block content %}
	<h1>Ajout d'un semestre pour le modèle {{modele.nom}}</h1>
	<form method='POST' action='/gestionEnseignement/ajouterSemestre'>
		{% csrf_token %}
		<label>Type de semestre :</label><select name="typeSemestre">
			<option value="S1">S1</option>
			<option value="S2">S2</option>
			<option value="S3">S3</option>
			<option value="S4">S4</option>
		</select>
		{{ form.as_p }}
		<input type="hidden" name="idModele" value="{{idModele}}">
		<input type="submit" value="Valider">
		<input type="reset" value="Annuler">
		<input type="button" value="Retour" onClick="history.go(-1);return true;">
	</form>
{% endblock %}