{% extends "base.html" %}
{% load static %}
{% block content %}
	<h1>Ajout d'un nouvel Etudiant (étape 2/3)</h1>
	
	<h2>Informations personnelles :</h2>
	
	<form method='POST' action='/gestionEtudiant/ajouterEtudiantInfoBAC'>
		{% csrf_token %}
		{% for info in infosPOST %}
			<input type="hidden" name="{{info.key}}" value="{{info.value}}">
		{% endfor %}
		
		{{ form.as_p }}
		
		<input type="submit" value="Valider">
		<input type="reset" value="Annuler">
		<input type="button" value="Retour" onClick="history.go(-1);return true;">
	</form>
{% endblock %}