{% extends "base.html" %}
{% load static %}
{% block content %}
	
	{% if isMessageAAfficher %}
		<p>{{messageAAfficher}}</p>
	{% endif %}
	
	<h2>Les étudiants suivant ont été ajoutés à la BD :</h2>
	
	<ul>
	{% for etudiant in etudiantsAjout %}
		<li>{{etudiant.numero}} : {{etudiant.prenom}} {{etudiant.nom}}</li>
	{% empty %}
		<li>Aucun nouvel étudiant !</li>
	{% endfor %}
	</ul>
	
	<h2>Les étudiants suivant ont été modifiés :</h2>
	<ul>
	{% for etudiant in etudiantsModif %}
		<li>{{etudiant.numero}} : {{etudiant.prenom}} {{etudiant.nom}}</li>
	{% empty %}
		<li>Aucun étudiant modifié !</li>
	{% endfor %}
	</ul>
	<a href='/gestionEtudiant/listeEtudiant'><input type="button" value="Retour à la gestion des étudiants" /></a>
{% endblock %}